<div class="container">
  <form #f="ngForm">
    <div
    ngModelGroup="title"
    #title="ngModelGroup">
      <div class="form-group">
        <label for="title">Title</label>
        <input
        type="text"
        id="title"
        class="form-control"
        ngModel
        name="title"
        required>
        <p *ngIf="!title.valid && title.touched">Please Enter a Title</p>
      </div>
    </div>
    <div
    ngModelGroup="description"
    #description="ngModelGroup">
      <div class="form-group">
        <label for="description">Description</label>
        <textarea
        name="description"
        id="description"
        class="form-control"
        rows="3"
        ngModel
        required></textarea>
      </div>
    </div>
      <p *ngIf="!description.valid && description.touched">Please Enter a Description</p>
    <div
    ngModelGroup="tags"
    #tags="ngModelGroup">
      <div class="form-group">
        <label for="tags">Tags</label>
        <input
        type="text"
        id="tags"
        class="form-control"
        ngModel
        name="tags"
        required>
        <p *ngIf="!tags.valid && tags.touched">Please Enter Tags</p>
      </div>
    </div>
    <div class="btn-container">
     <button
       (click)="onNewGame(title, description, tags)"
       class="btn btn-primary"
       type="submit"
       [disabled]="!f.valid">
       Add New Game
    </button>
    </div>
  </form>
</div>
