<div class="container">
  <a routerLink="/">
    <img id="logo" src="./assets/img/Vglist_logo.jpg" alt="logo" width="100px">
  </a>
    <hr>

    <div class="button" >
        <button type="button" class="btn btn-primary" (click)="navigateToForm()" data-bs-target="gameModal"
       >Add New Video Game</button>
    </div>

    <div class="button">
        <button type="button" class="btn btn-primary" routerLink="/topten">Video Game Top 10</button>
    </div>
    <div class="profCard">
        <app-profile-card></app-profile-card>
    </div>
</div>



