html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    height: 100%;
    position: fixed;
    left: 0px;
    top: 0px;
    background-color: hsla(146, 6%, 78%, 0.753);
    border-right: 1px solid black;
    width: 244px;
}

#logo {
    margin: 40px;
    margin-left: 55px;
}

.button {
    margin: 50px;
    margin-left: 35px;
}
