.infoBar {
  display: flex;
  flex-direction: row;
  margin-left: 50px;
}

.container {
  margin-left: 30rem;
  margin-top: 8rem;
}

.btn {
  margin: 10px;
}

.title {
  margin: 20px;
  padding: 20px;
}

.description {
  margin: 20px;
  padding: 20px;
}

.flex-container {
  display: flex;
  flex-direction: row;
  flex: auto;
  margin: 5rem;
}
